<h1>Employees</h1>
<pre>
    <label for="">Name:</label>
    <input type="text" [(ngModel)]="name">
    
    <label for="">Experience:</label>
    <input type="text" [(ngModel)]="experience">

    <label for="">Package:</label>
    <input type="text" [(ngModel)]="package">

    <label for="">Role:</label>
    <input type="text" [(ngModel)]="emprole">

    <button class="btn btn-primary" (click)="add()">add</button>

    <button (click)="bonus()" class="btn btn-info">50k bonus</button>

    <button (click)="total()" class="btn btn-primary">Cost to company</button>

    <input class="form-control w-25" type="text" placeholder="Search Name" [(ngModel)]="term" (keyup)="search()">
    <select class="form-control w-50" [(ngModel)]="role" (change)="rolefilter()" >
        <option>UIDeveloper</option>
        <option>Software Developer</option>
        <option>Data engineer</option>
        <option>Testing Engineer</option>
    </select>

    <button (click)="packagehl()" class="btn btn-warning">Packages Hight to Low</button>
    
    <button (click)="packagelh()" class="btn btn-warning">Packages Low to High</button>

</pre>
<table class="table table-dark">
    <thead>
        <tr>
            <th>S No</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i=index">
            <td>{{i+1}}</td>
            <td [ngClass]="{'text-danger':employee.package<1000000,'text-success':employee.package>=1000000}">{{employee.name|uppercase}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button *ngIf="employee.package>500000" (click)="delete(i)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>