.container-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    gap: 10px;
    
  }
  
  .image-container {
    width: 25%;
    height: 50%;
    position: relative;
    display: inline-block;
    position: relative ;
    cursor: pointer;
    }
  
  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    opacity: 0;
    transition: opacity 0.3s; */
    /* width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;

    color: white; */
    color: white;
    display: none;
    /* display: none; */

  }
  
  /* .image-container:hover .overlay {
    opacity: 1;
  } */
  
  /* p{
    display: none;
  }
  .btn-primary {
    margin-top: 10px;
    display: none;
  }
  img:hover p{
    display: block;
  }
  img:hover a{
    display: block;
  } */

  p{
    position: absolute;
    top: 40%;
    left: 35%;
    
  }
  a{
    position: absolute;
    top: 60%;
    left: 35%;
  }
  img:hover~div{
    display: block;
    cursor: pointer;
  }