<h1>Flipkart</h1>
<div class="top">
    <div class="topleft">
        <pre><input class="form-control w-50" type="text" placeholder="Search Product" [(ngModel)]="term" (keyup)="search()">  
            <button (click)="OFD()"class="btn1 btn">Only Free delivery</button>   
            
        <button (click)="discount()" class="btn btn-info">Apply 50% discount</button>  <button (click)="totalamount()" class="btnta btn">Total amount to pay</button>

         <button (click)="dcharges()" class="btn btn-info">additional charges</button>  <button (click)="totalitems()" class="btnti btn">Total Cart items</button>

        <button (click)="pricehl()" class="btn btn-warning">Price Hight to Low</button>  <button (click)="pricelh()" class="btn btn-warning">Price Low to High</button> 

        <button (click)="ratinghl()" class="btn btn-warning">Rating Hight to Low</button> <button (click)="ratinglh()" class="btn btn-warning">Rating Hight to Low</button>
    </pre>
    </div>
    <div class="topright">
        <pre>
        <label for="">Name:</label>  <input type="text" [(ngModel)]="name">
    
        <label for="">Price:</label> <input type="number" [(ngModel)]="price">
    
        <label for="">Rating:</label> <input type="text" [(ngModel)]="rating">
    
        <label for="">Freedelivery:</label> <input name="yes" id="yesv" type="radio" value="yes" [(ngModel)]="freed"> <label for="yesv">yes</label> <input name="yes" value="no" id="nov" type="radio" [(ngModel)]="freed"> <label for="nov">No</label>
                          
        <button (click)="add()" class="btng btn">Add to cart</button>
        </pre>
    </div>
</div>
    <table class="table table-dark">
    <thead>
        <tr>
            <th>S No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th></th>
            <th>Free Delivery</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index">
            <td>{{i+1}}</td>
            <td [ngClass]="{'text-danger':product.package<4,'text-success':product.package>=4}">{{product.name|lowercase}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td><app-rating [rating]="product.rating"></app-rating></td>
            <td>{{product.Freedelivery}}</td>
            <td>
                <button (click)="delete(i)" *ngIf="product.price>2" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <input class="form-control w-25" type="text" placeholder="Search Name" [(ngModel)]="term" (keyup)="search()"> -->
    <!-- <label for="">Free delivery: </label> <select class="form-control w-50" [(ngModel)]="delivery" (change)="deliveryfilter()" >
        <option>No</option>
        <option>yes</option>
    </select> -->