<div class="parent">
    <div class="left">
        <h1>My website</h1>
        <hr>
        <h3 routerLink="home">home</h3>
        <h3 routerLink="welcome">welcome</h3>
        <h3 routerLink="data-binding">Data Binidng</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="registration">Registration</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="dummy-display">Dummy Display</h3>
        <h3 routerLink="createVehicle">Create Vehicle</h3>
        <h3 routerLink="createAccounts">Create Account</h3>
        <h3 routerLink="create-user">Create User</h3>
        <h3 routerLink="create-student">Create Student</h3>
        <h3 routerLink="StudentsIdcards">Id cards</h3>
        <h3 routerLink="createStudentsIdcards">Create Id card</h3>
        <h3 routerLink="Accounts">Accounts</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="mails">Mail</h3>
        <h3 routerLink="photos">Photos</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink="blogs">BLOGS</h3>
        <h3 routerLink="imdbs">IMDB</h3>
        <h3 routerLink="pokemon">Pokemon</h3>
        <h3 routerLink="socialprofiles">Social Profiles</h3>
        <h3 routerLink="Flipkart">Flipkart</h3>
        <h3 routerLink="Calculator">Calculator</h3>
        <h3 routerLink="Rectangle">Rectangle</h3>
        <h3 routerLink="circle">circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <hr>
        <button (click)="logout()" id="logout">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>